name: Query Coverage Report

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: "Run Coverage Report"
        if: github.ref == 'refs/heads/main'
        run: |
          pip install ghastoolkit
          ./scripts/create-coverage.py --markdown > $GITHUB_STEP_SUMMARY

      - name: "Upload Coverage Report"
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: coverage.csv
