name: Bump Version
on:
  workflow_dispatch:
    inputs:
      bump:
        required: true
        description: "Bump Type (major, minor, patch)"

jobs:
  version:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: Get Token
        id: get_workflow_token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.CODEQL_FIELD_BOT_ID }}
          private-key: ${{ secrets.CODEQL_FIELD_BOT_KEY }}

      - name: "Bump Version"
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          pip install ghastoolkit
          python ./.github/scripts/codeql.py version \
            --bump "${{ github.event.inputs.bump }}"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          title: "[Bot] Version Bump - ${{ github.event.inputs.repository }}"
          body: "This PR was automatically generated to bump the version of IaC library and queries."
          commit-message: "Bumping version of IaC library and queries."
          branch: "auto-gen/version-${{ github.event.inputs.repository }}"
          delete-branch: true
          labels: |
            version
          assignees: geekmasher
          reviewers: |
            geekmasher
          token: ${{ steps.get_workflow_token.outputs.token }}
